* {
    background-color: yellow;
}

.outside {
    background-color: blue;
    margin: 20px;
    border-width: 5px;
    border-style: solid;
    border: black;
    padding: 15px;
}

.outside p {
    background-color: brown;
}

.second-one {
    background-color: orange;
    margin: 20px;
    border: black;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
    text-align: right;
}

.second-one p {
    background-color: olive;
    margin: 20px;
    border: black;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
}

.second-two {
    background-color: red;
    margin: 20px;
    border: gray;
    border-style: ridge;
    border-width: 25px;
    padding: 15px;
    width: 50%;
    display:inline;
}

.second-two p {
    background-color: rebeccapurple;
}

.second-three {
    background-color: magenta;
    margin: 20px;
    border: black;
    border-style: double;
    border-width: 5px;
    padding: 15px;
    display:inline-block;
}

.second-three p {
    background-color: maroon;
}